{{/* Citation box with Copy button */}}

{{ $cite := "" }}

{{ if .Params.citation_full }}
  {{ $cite = .Params.citation_full }}
{{ else if .Params.doi }}
  {{/* fallback: simple generated citation */}}
  {{ $venue := "" }}
  {{ if .Params.publication_short }}{{ $venue = .Params.publication_short }}{{ else if .Params.publication }}{{ $venue = .Params.publication }}{{ end }}
  {{ $cite = printf "%s. %s. %s. https://doi.org/%s" (.Title) (cond (ne $venue "") ($venue | plainify) "") (time.Format "2006" .Date) .Params.doi }}
{{ else }}
  {{ $cite = printf "%s." .Title }}
{{ end }}

<div class="publication-citebox">
  <h3>Citation</h3>
  <button class="btn btn-outline-primary btn-sm" type="button"
          onclick="navigator.clipboard.writeText({{ $cite | jsonify }}); this.innerText='Copied ✓'; setTimeout(()=>this.innerText='Copy citation',1200);">
    Copy citation
  </button>
</div>

{{-- 
<button class="pub-link-chip js-copy" data-copy="{{ $cite | htmlEscape }}" type="button">
  Copy citation
</button>
--}}

<!-- 
<button class="pub-link-chip js-copy" data-copy="{{ $cite | htmlEscape }}" type="button">
  Copy citation
</button>
-->
